@media (min-width: 1281px){
	.header h1{
		font-size: 70px;
		line-height: 70px;
	}
	.header p{
		font-size: 35px;
		line-height: 45px;
	}

}

@media (min-width: 1366px){
	.header h1{
		font-size: 70px;
		line-height: 70px;
	}
	.header p{
		font-size: 35px;
		line-height: 45px;
	}
	.main .about p{
		font-size: 28px;
		line-height: 33px;
	}

	.main .categories .c a{
		font-size: 26px;
		line-height: 31px;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: .8%;
		margin-right: .8%;
	}

	/*О нас */

	.header .promoabout h1{
		font-size: 45px;
		line-height: 55px;
	}
	.header .promoabout p{
		font-size: 28px;
		line-height: 38px;
	}

}

@media (min-width: 1680px) {
	
	.header h1{
		font-size: 75px;
		line-height: 80px;
	}
	.header p{
		font-size: 40px;
		line-height: 50px;
	}
	.main .advant .adv{
		
		font-size: 24px;
		line-height: 28px;
	}
	.main .advant .tick{
		width: 50px;
		height: 45px;
	}
	.main .categories .c a{
		font-size: 30px;
		line-height: 31px;

	}

	/*Туры*/

	.main .destination .env{
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	.main .destination .env a{
		font-size: 22px;
		line-height: 24px;
	}
	.main .destination a .point{
		padding: 30px;
	}
		
	/*О нас */

	.header .promoabout h1{
		font-size: 52px;
		line-height: 60px;
	}
	.header .promoabout p{
		font-size: 32px;
		line-height: 42px;
	}

	.main .advant .adv .num {
		font-size: 30px;
		line-height: 35px; 
	}

}

@media (max-width: 1280px) {

	.main .advant .adv .num {
		font-size: 22px;
	}
	.main .categories .c{ 	 
		width: 50%;
	}

	.footer .contacts > .phone,
	.footer .contacts > .mail,
	.footer .left{
		padding-left: 5%;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: 0.3%;
		margin-right: 0.3%;
	}
	.main > .top2{
		padding-top: 265px;
	}

}

@media (orientation: portrait){

	/*Форма брони*/

	.main form{
		height: 100%;
	}
	.main input, textarea{
	margin-top: 5%;
	}
	.main input{
	    padding-top: 30px;
	    padding-bottom: 30px;
	    border-radius: 40px;
	    font-size: 20px;
	    line-height: 25px;
	}
	.main input[type=submit]{
	    font-size: 22px;
	    line-height: 24px;
	}
	.main textarea{
		font-size: 20px;
	line-height: 25px;
	}
}

@media (max-width: 1250px){

	/*Туры*/

	.main .sticky{
		position: static;
	}
	.main > .top2{
		padding-top: 0px;
	}
	.main > .top1{
		position: static;
		margin-top: 39px;
	}

}


@media (max-width: 1161px){
	.main  .sq2 .text{
		padding-top: 0px;
	}

}

@media (max-width: 1100px){
	.main .advant .adv{
		width: 50%;
		margin-left: 0%;
		font-size: 18px;
	}

	.header h1{
		padding-top: 150px;
	}

	.header p{
		padding-bottom: 100px;
	}

}

@media (max-width: 1000px) {

	.navigation ul li:hover > .submenu{
		display: none;
	}
	.header .left,
	.header .right{
		display: none;
	}
	.header .call a{
		display: none;
	
	}
	.main .advindex{
		display: none;
	}
	
	.main .about  p{
		display: block;
		width: 100%;
	}

	.main .about img{
		display: none;
	}
	.main .categories .big-container{
		width: 100%;
	}

	.main .countries{
		padding-bottom: 0px;
	}
	
	.footer{
		display: none;
	}

	/*Туры*/

	.main .destination .container{
		margin-left: 0px;
		margin-right: 0px;
	}

	.main .destination .env{
		margin-left: 2%;
		margin-right: 2%;
	}

	/*О нас*/

	.header .promoabout p{
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
		line-height: 26px;
	}

	.header .promoabout img{
		display: none;
	}

	.main .advant .adv{
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		font-size: 22px;
		line-height: 25px;

	}

	.main > .aboutus{
		padding-bottom: 20px;
		background-color: #fff;
	}
	.main .advant .adv .num {
		font-size: 26px;
	}

	/*Галерея*/

	.main .galleria{
		width: 100%;
	}
	.main .galleria .album{
		width: 100%;
	}

	/*Контакты*/
	.main .contacts{
		padding-bottom: 0px;
	}
	.main .contacts .big-container{
		width: 100%;
	}

	/*Карта*/
	#map{
		width: 49.8%;
	}
}


@media (max-width: 910px){

	/*Туры*/

	.main .destination .point img{
		width: 60px;
		height: 60px;
	}
	.main .destination .env a{
		font-size: 18px;
		line-height: 20px;
	}
	.main .destination .env{
		margin-left: 1%;
		margin-right: 1%;
	}

}

@media (max-width: 880px){

	/*О нас*/

	.main .advant .adv{
		width: 90%;
	}

	/*Форма брони*/
	
	.bookheight .container{
		padding-top: 0%;
	}

	.main form {
		width: 100%;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

}


@media (orientation: landscape) and (max-width: 880px){
	.header h1{
		font-size: 38px;
		line-height: 42px;
	}
	.header p{
		font-size: 22px;
		line-height: 28px;
	}

	.main .about p{
		font-size: 20px;
		line-height: 28px;
	}

}

@media (max-width: 800px){
	.main .trips .shadow:hover{
		background-color: rgba(0,0,0,0.0);
		transition: 0.75s;
	}
	.main .trips .trip1 .shadow:hover .desc{
		background-color: rgba(255,51,204, 0.5);
	}

	.main .trips .trip2 .shadow:hover .desc{
		background-color: rgba(51,102,255, 0.5);
	}

	/*Туры*/

	.main .trips .trip1 .shadow:hover .desctour{
		background-color: rgba(255,51,204, 0.5);
	}

	.main .trips .trip2 .shadow:hover .desctour{
		background-color: rgba(51,102,255, 0.5);
	}

	.main .destination .point img{
		width: 55px;
		height: 55px;
	}
	.main .destination .env a{
		font-size: 17px;
		line-height: 19px;
	}
	.main .destination .env{
		margin-left: 0.8%;
		margin-right: 0.8%;
	}

}


@media (max-width: 768px){

	.navigation #nav-mobile:checked ~ ul{
		display: block;
	}

	.navigation .nav-mobile,
	.navigation .logomob{

		display: inline-block;
		vertical-align: top;
		margin-left: 4%;

		width: 46%;
		height: 41px;
		padding-bottom: 3px;
		margin-bottom: -5px;
	}

	.navigation .nav-mobile label{
		position: absolute;
		right: 4%;
	}
	.navigation .nav-mobile img{
		width: 25px;
		height: 25px;
		padding-top: 7px;
	}
	.navigation .logomob img{
		width: 30px;
		height: 30px;
	}
	.navigation .logomob .logotext,
	.navigation .logomob img{
		display: inline-block;
		vertical-align: middle;
	}
	.navigation .logomob .logotext{
		font-size: 17px;
		line-height: 18px;
		font-weight: bold;
		padding-top: 2px;
		letter-spacing: 0px;
		color: #fff;
	}

	.navigation > ul{
		display: none;
	}
	.navigation > ul li{
		display: block;

		width: 100%;


		position: relative;
		left: 0;

		text-align: right;	
	}

	.navigation > ul li .pad{

		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navigation ul li .nopad{
		display: none;
	}
	.navigation {
		clear: both;
		display: block;
	}

	.navigation a:hover {
		background-color: #BB3DFF;
	}

	.header h1{
		padding-top: 80px;
	}

	.header p{
		padding-bottom: 35px;
		margin-bottom: 0;
	}

	.main .categories .c a{
		padding-left: 8%;
	}
	.main .categories .c .this{
		background-size: 20px 20px;
		background-position: 92% 50%;
	}
	.main .alltours h2{
		font-size: 25px;
	}

	/*О нас*/

	.header .promoabout h1{
		font-size: 25px;
		line-height: 35px;
		width: 92%;
	}

	.header .promoabout p{

		font-size: 16px;
		line-height: 24px;
	}

	/*Галерея*/

	.main .galleria .album h1{
		font-size: 30px;
	}
	.main .galleria .left,
	.main .galleria .right{
		display: block;
	}
	.main .galleria .left{
		width: 100%;
	}
	.main .galleria .right{
		width: 100%;
	}
		.main .galleria .left img{
		margin-right: 0px;
	}
	.main .galleria .video{
		position: relative;
		height: 0%;
		padding-bottom: 60%;
	}


	/*Контакты*/

	.main .square{
		display: block;

		width: 100%;
	}

	.main .square .lower .address{
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.main  .sq2 .text{
		padding-top: 15px;
	}
	.main  .square .text{
		width: calc(100% - 60px - 4%);
		margin-left: -6px;
		background-color: #ddd;
	}
	.main .sq3 .allcon .img{
		margin-right: calc((100% - 300px)/8);
	}
	.main .square .lower .mph{
		padding-top: 35px;
	}
	.main .square .lower .mph,
	.main .square .lower .address{
		margin-left: 4%;
		margin-top: 0;
		padding-bottom: 15px;
	}
	.main .square .lower .address{
		padding-top: 0;
	}
	.main .square .lower .allcon{
		padding-bottom: 35px;
		margin-top: 0;
		margin-left: 4%;
	}

	.main .sq3 .allcon{
		width: calc(92% + 6px);
	}
	.main .square .lower{
		height: auto;
		background-color: #eee;
	}


	/*Карта*/

	#map{
		display: block;
		margin-left: 0px;

		width: 100%;

	}

}

@media (orientation: portrait) and (max-width: 768px) {

	.navigation ul li > a{
		font-size: 24px;
		line-height: 28px;
	}

}

@media (orientation: landscape) and (max-width: 768px){

	/*Туры*/
	
	.main .destination .env{
		margin-left: .5%;
		margin-right: .5%;
	}

}

@media (max-width: 710px){

	/*Туры*/

	.main .destination .point img{
		width: 50px;
		height: 50px;
	}
	.main .destination .env a{
		font-size: 16px;
		line-height: 18px;
	}
}

@media (orientation: portrait) and (max-width: 710px) {

	/*О нас*/

	.main .advant .adv{
		width: 100%;
	}
}

@media (orientation: landscape) and (max-width: 710px){

	/*О нас*/

	.main .advant .tick{
		width: 35px;
		height: 30px;
	}

	.main .advant .adv .num {
		font-size: 22px;
		line-height: 25px; 
	}

}


@media  (max-width: 640px) {

	.main .about p{
		font-size: 20px;
		line-height: 25px;
	}

	/*Туры*/

	.main .destination .point img{
		width: 45px;
		height: 45px;
	}
	.main .destination .env a{
		font-size: 15px;
		line-height: 17px;
	}
	.main .destination .env{
		margin-left: 0.5%;
		margin-right: 0.5%;
	}

	.main .destination a .point{
		padding: 20px;
	}
	.main .trips .trip{
		height: 380px;
	}
	.main .trips .shadow{
		height: 0px;
	}
	.main .trips .desc,
	.main .trips .desctour{
		display: block;
		float: none;

		margin-left: 0px;
		margin-top: 0px;

		height: 380px;
		width: 100%;

		border-radius: 0%;
	}
	.main .trips .trip1 .desc,
	.main .trips .trip1 .desctour{
		margin-right: 0px;
		background-color: rgba(255,61,226, 0.5);
	}

	.main .trips .trip2 .desc,
	.main .trips .trip2 .desctour{
		margin-left: 0px;
		background-color: rgba(61,129,255, 0.5);
	}

}

@media (orientation: landscape) and (max-width: 640px) {

	.header h1{
		font-size: 32px;
		line-height: 38px;
	}
	.header p{
		font-size: 20px;
		line-height: 26px;
	}
		
}

@media (max-width: 600px){
	.main .categories .c a{
		font-size: 16px;
	}
	.main .categories .c a{
		line-height: 16px;
		padding-top: 35px;
		padding-bottom: 35px;
		background-size: 20px 20px;
		background-position: 92% 50%;

	}
	.main .alltours {
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.main .alltours h2{
		font-weight: bold;
		font-size: 20px;
		margin: 0;
	}
	.main .alltours button a{
		padding: 8px 50px 8px 30px;
		background-size: 20px 20px;
		background-position: 96% 51%;

		font: bold 18px/25px "Roboto-Regular", Arial;
	}

	/*Форма брони*/

	.main form {
  		padding: 20px 30px;
  	}
  	.main form h1{
		margin-top: 60px;
	}

}


@media (orientation: portrait) and (max-width: 530px){

	.header h1{
		font-size: 32px;
		line-height: 36px;
	}
	.header p{
		font-size: 18px;
		line-height: 22px;
	}
}

@media (max-width: 500px){
	.main .square .lower{
		font-size: 16px;

	}
}


@media  (max-width: 480px){

	.main .about{
		display: none;
	}

	.main .alltours{
		display: none;
	}


	/*Туры*/

	.main .destination .env{
		margin-left: 3%;
		margin-right: 3%;
	}

	.main .trips h3{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 26px;
		line-height: 30px;
	}

	.main  .trips .date{
		font-size: 12px;
	}

	.main .trips p{
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}

	.main .trips .price{
		font-size: 20px;
		line-height: 22px;
	}

	.main .trips .hot{
		font-size: 25px;
	}

	/*Контакты*/

	.main .square h1{
		font-size: 24px;
	}
	.main .square .lower img{
		padding-right: 5px;
	}
	.main .square .lower .contact img{
		width: 40px;
		height: 40px;
	}
	.main .sq3 .allcon .img{
		margin-right: calc((100% - 192px)/4);
	}
	.main  .square .img{
		width: 40px;
		height: 40px;
		background-size: 25px 25px;
	}

	.main .sq3 .allcon{
		width: 92%;
		margin-left: 4%;
	}
	.main  .square .text{
		width: calc(100% - 40px - 4%);
		margin-left: -4px;
		line-height: 40px;
	}
	.main .sq3 .allcon .c5{
		margin-right: 0px;
	}
	.main  .sq2 .text{
		line-height: 40px;
		padding-top: 0px;
		height: auto;
	}

	/*Форма брони*/

	.main input{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border-radius: 25px;
	    font-size: 16px;
	    line-height: 20px;
	}
	.main input[type=submit]{
	    font-size: 16px;
	    line-height: 20px;
	}
	.main textarea{
		font-size: 16px;
		line-height: 20px;
	}

}

@media  (orientation: portrait) and (max-width: 480px){
	

	/*О нас*/


	.main .advant .adv{
		font-size: 16px;
		line-height: 20px;

	}
	.main .advant .tick{
		width: 30px;
		height: 25px;
	}

	.main .advant .adv .num {
		font-size: 20px;
		line-height: 23px; 
	}

}


@media  (max-width: 380px){
	.main .categories .c{
		display: block;
		width: 100%;
	}
	.main .categories .c a{
		font-size: 18px;
		line-height: 18px;
		line-height: 16px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: 0.8%;
		margin-right: 0.8%;
	}


}

@media (max-width: 350px){
	.main  .sq2 .text{
		line-height: 20px;
	}
}


@media (max-width: 320px){

	.main .destination .env{
		margin-left: 0.3%;
		margin-right: 0.3%;
	}
}

@media  (orientation: portrait) and (max-width: 320px){

	.header h1{
		font-size: 30px;
		line-height: 34px;
	}

}

@media (orientation: landscape) and (max-width: 320px){

	.header h1{
		font-size: 25px;
		line-height: 30px;
	}
	.header p{
		font-size: 16px;
		line-height: 18px;
	}

	.main .categories .c a{
		font-size: 16px;
		line-height: 18px;
		padding-bottom: 50px;
	}

}

@media  (orientation: portrait) and (max-width: 240px){

	.header h1{
		font-size: 18px;
		line-height: 22px;
	}
	.header p{
		font-size: 14px;
		line-height: 16px;
	}

	/*Форма брони*/

	.main input[type=submit]{
	    font-size: 13px;
	    line-height: 20px;
	}

}

