@media (min-width: 1281px){
	.header h1{
		font-size: 70px;
		line-height: 70px;
	}
	.header p{
		font-size: 35px;
		line-height: 45px;
	}

}

@media (min-width: 1366px){
	.header h1{
		font-size: 70px;
		line-height: 70px;
	}
	.header p{
		font-size: 35px;
		line-height: 45px;
	}
	.main .about p{
		font-size: 28px;
		line-height: 33px;
	}

	.main .categories .c a{

		font-size: 26px;
		line-height: 31px;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: .8%;
		margin-right: .8%;
	}

	/*О нас */

	.header .promoabout h1{
		font-size: 45px;
		line-height: 55px;
	}
	.header .promoabout p{
		font-size: 28px;
		line-height: 38px;
	}

}

@media (min-width: 1680px) {
	
	.header h1{
		font-size: 75px;
		line-height: 80px;
	}
	.header p{
		font-size: 40px;
		line-height: 50px;
	}
	.main .advant .adv{
		
		font-size: 24px;
		line-height: 28px;
	}
	.main .advant .tick{
		width: 50px;
		height: 45px;
	}
	.main .categories .c a{

		font-size: 30px;
		line-height: 31px;

	}

	/*Туры*/

	.main .destination .env{
		margin-left: 1.5%;
		margin-right: 1.5%;
	}
	.main .destination .env a{
		font-size: 22px;
		line-height: 24px;
	}
	.main .destination a .point{
		padding: 30px;
	}
		
	/*О нас */

	.header .promoabout h1{
		font-size: 52px;
		line-height: 60px;
	}
	.header .promoabout p{
		font-size: 32px;
		line-height: 42px;
	}

	.main .advant .adv .num {
		font-size: 30px;
		line-height: 35px; 
	}

}

@media (max-width: 1280px) {

	.main .advant .adv .num {
		font-size: 22px;
	}
	.main .categories .c{ 	 
		width: 50%;
	}

	.footer .contacts > .phone,
	.footer .contacts > .mail,
	.footer .left{
		padding-left: 5%;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: 0.3%;
		margin-right: 0.3%;
	}
	.main > .top2{
		padding-top: 265px;
	}

	/*О нас */

	.headerabout {
		height: 110%;
	}

	
}

@media (orientation: portrait){
	.header{
		height: 70%;
	}
	.height{
		height: 0;
	} 

	/*Форма брони*/

	.main form{
		height: 100%;
	}
	.main input, textarea{
	margin-top: 5%;
	}
	.main input{
	    padding-top: 30px;
	    padding-bottom: 30px;
	    border-radius: 40px;
	    font-size: 20px;
	    line-height: 25px;
	}
	.main input[type=submit]{
	    font-size: 22px;
	    line-height: 24px;
	}
	.main textarea{
		font-size: 20px;
	line-height: 25px;
	}
}

@media (max-width: 1250px){

	/*Туры*/

	.main .sticky{
		position: static;
	}
	.main > .top2{
		padding-top: 0px;
	}
	.main > .top1{
		position: static;
		margin-top: 40px;
	}

}
@media (max-width: 1100px){
	.main .advant{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.main .advant .adv{
		width: 49%;
		margin-left: 1%;
		font-size: 16px;
	}

	/*Контакты*/

	.main .square h1,
	.main .square .lower{
		width: 85%;
	}
}

@media (max-width: 1000px) {

	.navigation ul li:hover > .submenu{
		display: none;
	}
	.header .left,
	.header .right{
		display: none;
	}
	.header .call a{
		display: none;
	
	}
	.main .advindex{
		display: none;
	}
	
	.main .about  p{
		display: block;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.main .about img{
		display: none;
	}
	.main .categories .c{ 	 
		width: 50%;
	}
	.main .categories .c1 h2{
		padding-left: 0px;
	}

	.main .categories .c4 h2{
		padding-right: 0px;
	}

	.main .countries{
		padding-bottom: 0px;
	}
	
	.footer{
		display: none;
	}

	/*Туры*/

	.main .destination .container{
		margin-left: 0px;
		margin-right: 0px;
	}

	.main .destination .env{
		margin-left: 2%;
		margin-right: 2%;
	}

	/*О нас*/

	.header .promoabout p{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 3%;

		font-size: 20px;
		line-height: 26px;
	}

	.header .promoabout img{
		display: none;
	}

	.main .advant .adv{
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		font-size: 22px;
		line-height: 25px;

	}
	.main .advant .adv .num {
		font-size: 26px;
	}

	/*Галерея*/

	.main .galleria{
		width: 100%;
	}
	.main .galleria .album{
		width: 100%;
	}

	/*Контакты*/

	.main .square{
		display: block;

		width: 100%;
		height: 400px;
	}
	.main .sq1{
		margin-top: 40px;
	}
	.main .sq1,
	.main .sq2{
		margin-bottom: 0px;
	}
	.main .sq2{
		margin-top: 0px;
	}

	.main .sq3{
		margin-left: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.main .sq2 h1{
		margin-top: 0px;
	}
	
}

@media (orientation: landscape) and (max-width: 1000px){

	/*О нас*/
	
	.headerabout{
		height: 130%;
	}

}

@media (max-width: 910px){

	/*Туры*/

	.main .destination .point img{
		width: 60px;
		height: 60px;
	}
	.main .destination .env a{
		font-size: 18px;
		line-height: 20px;
	}
	.main .destination .env{
		margin-left: 1%;
		margin-right: 1%;
	}

}

@media (max-width: 880px){

	/*О нас*/

	.main .advant .adv{
		width: 90%;
	}

	/*Форма брони*/
	
	.bookheight .container{
		padding-top: 0%;
	}
	.main form {
		width: 100%;
		height: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

}

@media (orientation: portrait) and (max-width: 880px){

	/*О нас*/

	.headerabout{
		height: 150%;
	}
	.header .promoabout h1{
		font-size: 45px;
		line-height: 55px;
		padding-top: 15%;
	}
	.header .promoabout p{
		font-size: 30px;
		line-height: 45px;
	}

}


@media (orientation: landscape) and (max-width: 880px){
	.header h1{
		font-size: 38px;
		line-height: 42px;
	}
	.header p{
		font-size: 22px;
		line-height: 28px;
	}
	.main .about p{
		font-size: 20px;
		line-height: 28px;
	}

}

@media (max-width: 800px){
	.main .categories .c1 a:hover{
		background-color: #3d81ff; 
	}

	.main .categories .c2 a:hover{
		background-color: #ff3de2; 
	}

	.main .categories .c3 a:hover{
		background-color: #ffbb3d; 
	}

	.main .categories .c4 a:hover{
		background-color: #81ff3d; 
	}

	.main .categories .c a:hover{
		color: #fff;
	}

	.main .trips .shadow:hover{
		background-color: rgba(0,0,0,0.0);
		transition: 0.75s;
	}
	.main .trips .trip1 .shadow:hover .desc{
		background-color: rgba(255,61,226, 0.5);
	}

	.main .trips .trip2 .shadow:hover .desc{
		background-color: rgba(61,129,255, 0.5);
	}

	/*Туры*/

	.main .trips .trip1 .shadow:hover .desctour{
		background-color: rgba(255,61,226, 0.5);
	}

	.main .trips .trip2 .shadow:hover .desctour{
		background-color: rgba(61,129,255, 0.5);
	}

	/*О нас*/

	.main .destination .point img{
		width: 55px;
		height: 55px;
	}
	.main .destination .env a{
		font-size: 17px;
		line-height: 19px;
	}
	.main .destination .env{
		margin-left: 0.8%;
		margin-right: 0.8%;
	}

}
@media (orientation: portrait) and (max-width: 800px){

	.header .promo{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		top: 30%;
	}


}
@media (orientation:landscape) and (max-width: 800px){

	/*О нас*/

	.header .promoabout h1{
		font-size: 35px;
		line-height: 45px;
	}
	.header .promoabout p{
		font-size: 20px;
		line-height: 35px;
	}
}

@media (max-width: 768px){

	.navigation #nav-mobile:checked ~ ul{
		display: block;
	}

	.navigation .nav-mobile,
	.navigation .logomob{

		display: inline-block;

		width: 50%;
		height: 41px;

		margin-bottom: -5px;
		
	}

	.navigation .nav-mobile label{
		position: absolute;
		right: 30px;
	}
	.navigation .nav-mobile img{
		width: 25px;
		height: 25px;
		padding-top: 7px;
	}
	.navigation .logomob img{
		padding-left: 20px;
	}

	.navigation > ul{
		display: none;
	}
	.navigation > ul li{
		display: block;

		width: 100%;


		position: relative;
		left: 0;

		text-align: right;	
	}

	.navigation > ul li .pad{

		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navigation ul li .nopad{
		display: none;
	}
	.navigation {
		clear: both;
		display: block;
	}

	.navigation a:hover {
		background-color: #BB3DFF;
	}

	/*Галерея*/

	.main .galleria .album h1{
		font-size: 30px;
	}
	.main .galleria .left,
	.main .galleria .right{
		display: block;
	}
	.main .galleria .left{
		width: 100%;
	}
	.main .galleria .right{
		width: 100%;
	}
		.main .galleria .left img{
		margin-right: 0px;
	}
	.main .galleria .video{
		position: relative;
		height: 0%;
		padding-bottom: 60%;
	}
		/*Контакты*/
	.main .square h1,
	.main .square .lower{
		width: 100%;
	}

}

@media (orientation: portrait) and (max-width: 768px) {

	.navigation ul li > a{
		font-size: 24px;
		line-height: 28px;
	}

	/*О нас*/

	.headerabout{
		height: 120%;
	}

}

@media (orientation: landscape) and (max-width: 768px){
	.header{
		height: 100%;
	}
	.height{
		height: 0;
	}

	.header .header_slides{
		height: 100%;
	}
	.header .promo {
		top: 25%; 
	}

	/*Туры*/
	
	.main .destination .env{
		margin-left: .5%;
		margin-right: .5%;
	}

	/*О нас*/

	.headerabout{
		height: 180%;
	}
}

@media (max-width: 710px){

	/*Туры*/

	.main .destination .point img{
		width: 50px;
		height: 50px;
	}
	.main .destination .env a{
		font-size: 16px;
		line-height: 18px;
	}
}

@media (orientation: portrait) and (max-width: 710px) {

	/*О нас*/

	.headerabout{
		height: 150%;
	}
	.main .advant .adv{
		width: 100%;
	}
}

@media (orientation: landscape) and (max-width: 710px){

	/*О нас*/

	.headerabout{
		height: 190%;
	}
	.header .promoabout h1{
		font-size: 33px;
		line-height: 38px;
	}
	.header .promoabout p{
		font-size: 20px;
		line-height: 30px;
	}

	.main .advant .adv{
		font-size: 18px;
		line-height: 25px;
	}
	.main .advant .tick{
		width: 35px;
		height: 30px;
	}

	.main .advant .adv .num {
		font-size: 22px;
		line-height: 25px; 
	}

}

@media (orientation: portrait) and (max-width: 640px) {
	
	/*О нас*/

	.headerabout{
		height: 150%;
	}
	.header .promoabout h1{
		font-size: 32px;
		line-height: 38px;
	}
	.header .promoabout p{
		font-size: 18px;
		line-height: 28px;
	}

	/*Контакты*/

	.main .square .lower{
		height: 100%;
	}
	.main .square{
		height: auto;
	}

	.main .square .lower .contact{
		display: block;
		width: 100%;
	}
	.main .square .lower .vk{
		margin-bottom: 90px;
	}

}

@media  (max-width: 640px) {

	.main .about p{
		font-size: 20px;
		line-height: 25px;
	}

	/*Туры*/

	.main .destination .point img{
		width: 45px;
		height: 45px;
	}
	.main .destination .env a{
		font-size: 15px;
		line-height: 17px;
	}
	.main .destination .env{
		margin-left: 0.5%;
		margin-right: 0.5%;
	}

	.main .destination a .point{
		padding: 20px;
	}
	.main .trips .trip{
		height: 380px;
	}
	.main .trips .shadow{
		height: 0px;
	}
	.main .trips .desc,
	.main .trips .desctour{
		display: block;
		float: none;

		margin-left: 0px;
		margin-top: 0px;

		height: 380px;
		width: 100%;

		border-radius: 0%;
	}
	.main .trips .trip1 .desc,
	.main .trips .trip1 .desctour{
		margin-right: 0px;
		background-color: rgba(255,61,226, 0.5);
	}

	.main .trips .trip2 .desc,
	.main .trips .trip2 .desctour{
		margin-left: 0px;
		background-color: rgba(61,129,255, 0.5);
	}

}

@media (orientation: landscape) and (max-width: 640px) {

	.header h1{
		font-size: 32px;
		line-height: 38px;
	}
	.header p{
		font-size: 20px;
		line-height: 26px;
	}

	/*О нас*/

	.headerabout{
		height: 220%;
	}
	.header .promoabout h1{
		font-size: 30px;
		line-height: 38px;
	}
	.header .promoabout p{
		font-size: 18px;
		line-height: 28px;
	}
		
}

@media (max-width: 600px){

	/*Форма брони*/

	.main form {
  		padding: 20px 30px;
  	}
  	.main form h1{
		margin-top: 60px;
	}
}

@media  (orientation: landscape) and (max-width: 600px) {

	.header .promo {
		margin-left: 1%;
		margin-right: 1%;
		top: 20%; 
	}
}


@media (orientation: portrait) and (max-width: 530px){

	.header h1{
		font-size: 32px;
		line-height: 36px;
	}
	.header p{
		font-size: 18px;
		line-height: 22px;
	}
	.header .promo {
		margin-left: 1%;
		margin-right: 1%;
	}
}


@media  (max-width: 480px){

	.main .about{
		display: none;
	}
	.main .categories .c{
	 	display: block;
	 
		width: 100%;
	}

	/*О нас*/

	.header .promoabout h1{
		font-size: 28px;
		line-height: 32px;
	}
	.header .promoabout p{
		font-size: 16px;
		line-height: 22px;
	}

	/*Туры*/

	.main .destination .env{
		margin-left: 3%;
		margin-right: 3%;
	}

	.main .trips h3{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 26px;
		line-height: 30px;
	}

	.main  .trips .date{
		font-size: 12px;
	}

	.main .trips p{
		margin-left: auto;
		margin-right: auto;
		width: 95%;
	}

	.main .trips .price{
		font-size: 20px;
		line-height: 22px;
	}

	.main .trips .hot{
		font-size: 25px;
	}

	/*Контакты*/

	.main .square h1{
		font-size: 24px;
	}
	.main .square .lower{
		font-size: 18px;

	}
	.main .square .lower img{
		padding-right: 5px;
	}
	.main .square .lower .contact img{
		width: 40px;
		height: 40px;
	}

	/*Форма брони*/

	.main input{
	    padding-top: 15px;
	    padding-bottom: 15px;
	    border-radius: 25px;
	    font-size: 16px;
	    line-height: 20px;
	}
	.main input[type=submit]{
	    font-size: 16px;
	    line-height: 20px;
	}
	.main textarea{
		font-size: 16px;
		line-height: 20px;
	}

}

@media  (orientation: portrait) and (max-width: 480px){
	
	.header .promo{
		top: 25%;
	}

	/*О нас*/

	.headerabout{
		height: 120%;
	}	

	.main .advant .adv{
	font-size: 16px;
	line-height: 20px;

	}
	.main .advant .tick{
		width: 30px;
		height: 25px;
	}

	.main .advant .adv .num {
		font-size: 20px;
		line-height: 23px; 
	}

}

@media  (orientation: landscape) and (max-width: 480px){

	/*О нас*/

	.headerabout{
		height: 220%;
	}
}

@media  (max-width: 380px){

	/*Туры*/

	.main .destination .env{
		margin-left: 0.8%;
		margin-right: 0.8%;
	}
}

@media  (orientation: portrait) and (max-width: 370px){
	
	.main .alltours h2{
		font-size: 25px;
	}

	/*О нас*/

	.headerabout{
		height: 150%;
	}

	/*Контакты*/

	.main .square h1{
		display: none;
	}

	.main .square{
		min-height: 300px;
	}
}

@media (max-width: 320px){

	.main .destination .env{
		margin-left: 0.3%;
		margin-right: 0.3%;
	}
}
@media  (orientation: portrait) and (max-width: 320px){
	.header .promo{
		top: 12%;
	}
	.header h1{
		font-size: 30px;
		line-height: 34px;
	}
	.main .categories .c a{
		font-size: 16px;
		line-height: 18px;
		padding-bottom: 50px;
	}

	/*О нас*/

	.headerabout{
		height: 200%;
	}

}

@media (orientation: landscape) and (max-width: 320px){

	.header .promo{
		top: 12%;
	}
	.header h1{
		font-size: 25px;
		line-height: 30px;
	}
	.header p{
		font-size: 16px;
		line-height: 18px;
	}

	.main .categories .c a{
		font-size: 16px;
		line-height: 18px;
		padding-bottom: 50px;
	}

	/*О нас*/

	.headerabout{
		height: 350%;
	}

	.header .promoabout h1{
		font-size: 25px;
		line-height: 30px;
	}
	.header .promoabout p{
		font-size: 16px;
		line-height: 20px;
	}

}

@media  (orientation: portrait) and (max-width: 240px){
	.header .promo{
		top: 5%;
	}
	.header h1{
		font-size: 18px;
		line-height: 22px;
	}
	.header p{
		font-size: 14px;
		line-height: 16px;
	}

	/*О нас*/

	.headerabout{
		height: 250%;
	}

	/*Форма брони*/

	.main input[type=submit]{
	    font-size: 13px;
	    line-height: 20px;
	}

}

