*{
	margin: 0px;
	padding: 0px;
}

html, body, .site{
	height: 100%;

}

body {
	font-family: "Roboto-Regular", arial;
	color: #999;
}

body, h4, h5, h6, p{
	font-size: 18px;
	line-height: 21px;
}
h1 {
	font-size: 44px;
	line-height: 47px;
}

h2{
	font-size: 30px;
	line-height: 32px;
}

h3{
	font-size: 24px;
	line-height: 26px;
}

h1, h2, h3{
	margin-bottom: 25px;
}

h4, h5, h6, p{
	margin-bottom: 20px;
}

.big-container{
	width: calc(100% - 80px);
	margin-left: auto;
	margin-right: auto;
}

.mobile-container{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.navigation {
	overflow: visible;
	width: 100%;
 	margin: 0 auto;
 	z-index: 3;
 	position: fixed;
 	font-family: "Roboto-Bold", arial;

 	text-transform: uppercase;

 	background-color: #33ccFF;
 }
 
.navigation #nav-mobile,
.navigation .nav-mobile,
.navigation .logomob{
	display: none;
}
 
.navigation ul {
 	list-style-type: none;
	list-style-position: inside;
}

.navigation > ul > li{
	display: inline-block;
	float: right;

	position: relative;
	left: -3%;
}

.navigation li{
	position: relative;
}

.navigation ul li > a,
.navigation .submenu a{
	display: block;
	transition: 0.5s;
	color: #fff;
	text-decoration: none;
}

.navigation ul li > a{
	padding-left: 30px;
	padding-right: 30px;

	font-size: 19px;
	line-height: 19px;
	font-weight: bold;
	letter-spacing: 2px;
}

.navigation ul li .pad{
	padding-top: 12px;
	padding-bottom: 11px;
}

.navigation ul li .nopad{
	padding-bottom: 2px;
	padding-top: 2px;
}
.navigation .logotext,
.navigation img{
	display: inline-block;
	vertical-align: middle;
}
.navigation .logotext{
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	padding-top: 2px;
	letter-spacing: 0px;
	color: #fff;
}
.navigation .logomenu{
	padding-right: 30px;
}


.navigation .pad:hover,
.navigation ul li > ul li a:hover {
	background-color: #fff;
	color: #33ccFF;
}

.navigation ul li img{
	width: 30px;
	height: 30px;
}

.navigation .submenu{
	position: absolute;
	background-color: #33ccFF;
	opacity: 0;
	top: 42px;
	z-index: 3;
	transition: 0.75s;
}

.navigation .submenu a{
	font-size: 17px;
	line-height: 18px;
	padding: 12px 20px 12px 30px;
	letter-spacing: 0px;
}

.navigation ul li:hover > .submenu{
	display: block;
	opacity: 1;
	transition: 0.75s;
}



.header {
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	max-width: 100%;
	height: auto;
}


.header .shadow,
.main .background .shadow{
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.header .left,
.header .right{
	position: fixed;
	width: 40px;
	height: 100%;
	z-index: 3;
	background-color: #33ccFF;
}

.header .left{
	left: 0%;
}

.header .right{
	right: 0%;
}

.header .right .contacts{
	right: 8px;
	top: 35%;
	position: fixed;
}

.header .right .contact{
	padding-top: 100%;
}

.header .right .contact img{
	width: 25px;
}


.header .header_slides{
	list-style-type: none;

	position: absolute;
	z-index: -2; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.header .header_slides li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

    background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

    animation: anim_slides 18s linear infinite;
}

.header .header_slides li:nth-child(1){
	animation-delay: -2.0s;
	background-image: url(../img/t1.jpg);
}

.header .header_slides li:nth-child(2){
	animation-delay: 4.0s;
	background-image: url(../img/background1.jpg);
	z-index: -3;
}

.header .header_slides li:nth-child(3){
	animation-delay: 10.0s;
	background-image: url(../img/background2.jpg); 
	z-index: -4;
}

@keyframes anim_slides {
	0% {opacity:0;}
	6% {opacity:1;}
	33% {opacity:1;}
	40% {opacity:0;}
	100% {opacity:0;}
}

.header .promo {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	top: 35%; 

	text-align: center;
	color: #fff;
	font-weight: bold;	
}

.header h1{
	padding-top: 250px;
	font-size: 55px;
	line-height: 57px;
	letter-spacing: 3px;
}

.header p{
	font-size: 26px;
	line-height: 35px;
	padding-bottom: 220px;
}


.main {
	width: 100%;
	min-height: 200px;
	overflow: hidden;
}




.main .categories{
	width: 100%;
	vertical-align: middle;
	background-color: #fff;
}

.main .categories h2{
	margin-bottom: 0px;
}


.main .categories .c{
 	display: inline-block;
 
	width: 25%;

	box-sizing: border-box;

	vertical-align: middle;

	transition: 0.5s;
}

.main .categories .c a{
	display: block;

	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 10%;

	font-size: 23px;
	line-height: 25px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

	color: #fff;

	transition: 0.5s;

	background-image: url('../img/arrowright.png');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 92% 53%;

}

.main .categories .c1 a{
	background-color: #3366ff;
}

.main .categories .c2 a{
	background-color: #ff6633;
}

.main .categories .c3 a{
	background-color: #ff33cc;
}

.main .categories .c4 a{
	background-color: #33ff66;
}

.main .categories .c1 a:hover{
	color: #3366ff; 
	background-image: url('../img/arrowblue.png');
}

.main .categories .c2 a:hover{
	color: #ff6633; 
	background-image: url('../img/arroworange.png');
}

.main .categories .c3 a:hover{
	color: #ff33cc; 
	background-image: url('../img/arrowpink.png');
}

.main .categories .c4 a:hover{
	color: #33ff66; 
	background-image: url('../img/arrowgreen.png');
}

.main .categories .c a:hover{
	background-color: #fff;
}

.main .alltours {
	width: 100%;

	padding-top: 40px;
	padding-bottom: 20px;

	text-align: center;

	color: #fff;

	background-color: #ddd; 
}
.main .alltours h2,
.main .alltours button{
	display: inline-block;
	width: 50%;
	margin-left: -5px;
}

.main .alltours button{
	background-color: transparent;
	border: none;
}

.main .alltours button a{
	color: #fff;
	padding: 10px 50px 10px 30px;
	box-sizing: border-box;
	background-color: #bbb;

	text-decoration: none;

	background-image: url('../img/arrowright.png');
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 96% 53%;

	font: bold 22px/35px "Roboto-Regular", Arial;

	transition: 0.5s;
}

.main .alltours button a:hover{
	background-color: #33ccff;

	transition: 0.5s;

}
.main .alltours h2{
	font-weight: bold;
	font-size: 35px;
}

.main .countries{
	padding-bottom: 40px;
}

.main .trips{
	width: 100%;
	color: #fff;
}

.main .trips .trip{
	width: 100%;
	height: 400px;

	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
}

.main .trips .shadow{
	width: 100%;
	height: 400px;
	transition: 0.75s;
}

.main .trips .shadow:hover{
	background-color: rgba(0,0,0,0.5);
	transition: 0.75s;
}

.main .trips .desc,
.main .trips .desctour{
	display: inline-block;

	margin-left: -5px;
	margin-top: 10px;

	height: 380px;
	width: 380px;

	vertical-align: middle;
	text-align: center;

	border-radius: 50%;

	transition: 0.5s;
}

.main .trips .trip1 .shadow:hover .desc{
	background-color: #ff33cc;
}

.main .trips .trip2 .shadow:hover .desc{
	background-color: #3366ff;
}

.main .trips .trip1 .desc,
.main .trips .trip1 .desctour{
	float: right;
	margin-right: 60px;
	background-color: rgba(255,51,204, 0.7);
}

.main .trips .trip2 .desc,
.main .trips .trip2 .desctour{
	float: left;
	margin-left: 60px;
	background-color: rgba(51, 102, 255, 0.7);

}

.main .trips .desc a{
	display: block;
	text-decoration: none;
	color: #fff;
}

.main .trips .desc a img{
	margin-top: 25%;
}

.main .trips .t1{
	background-image: url('../img/japan1.jpg');
}

.main .trips .t2{
	background-image: url('../img/t2.jpg');
}
.main .trips .t3{
	background-image: url('../img/t3.jpg');
}
.main .trips .t4{
	background-image: url('../img/t4.jpg');
}

.main .trips .t5{
	background-image: url('../img/t5.jpg');
}

.main .trips .t6{
	background-image: url('../img/tour.jpg');
}
.main .advant {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 50px;
	
	text-align: center;
	vertical-align: middle;

	font-weight: bolder;

	background-color: #fff;
}

.main .advant .adv{
	width: 45%;
	height: 50px;

	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 5%;

	display: inline-block;

	font-size: 20px;
	line-height: 25px;


	text-align: left;
	text-transform: uppercase;
}

.main .advant .tick{
	width: 40px;
	height: 40px;
	vertical-align: bottom;

	margin-right: 10px;
	padding-top: 10px;
}

.main .advant .adv .num {
	margin-left: 5px;
	margin-top: 5px;

	font-size: 25px;
	line-height: 27px; 

	color: #33ccff;
}

.main .about {
	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;
	vertical-align: top;

	background: #fff;
}

.main .about h2{
	color: #999;
	font-size: 35px;
	margin-bottom: 30px;

	text-transform: uppercase;
}

.main .about img,
.main .about  p{
	display: inline-block;
}

.main .about img{
	width: 300px;
	vertical-align: top;
	padding-right: 20px;
}

.main .about p{
	width: 60%;

	font-size: 25px;
	line-height: 30px;
}


.footer {
	display: block;
	height: 40px;
	width: 100%;

	position: fixed;
	bottom: 0%;
	z-index: 3;

	font-family: "Roboto-Regular", arial;
	text-align: center;

	background-color: #33ccff;
	color: #fff;
}


.footer .contacts .contact{
	font-size: 18px;
	line-height: 20px;
	vertical-align: middle;
}
.footer .contacts img,
.footer .contacts .text{
	display: inline-block;
	vertical-align: middle;
}
.footer .contacts img{
	display: inline-block;
	width: 25px;

	padding-right: 5px;
	padding-top: 7px;
}

.footer .contacts .text{
	padding-top: 10px;
}


/*Tours*/
.header .containertours,
.header .containerabout{
	height: auto;
	width: 100%;

	color: #fff;

	background-image: url('../img/tour.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
} 

.header .containertours{
	background-image: url('../img/tour.jpg')
}

.main .destination{
	width: 100%;
	min-height: 155px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #ddd;
	z-index: 2;
}
.main .destination .container{
	margin-left: 40px;
	margin-right: 40px;
}

.main .destination .env{
	display: inline-block;
	text-align: center;
	margin-left: 0.7%;
	margin-right: 0.7%;
}

.main .destination .env .thisblue{
	box-shadow: inset 8px 8px 0px 3px #33ccff;
}
.main .destination .env .thisorange{
	box-shadow: inset 8px 8px 0px 3px #33ccff;
}
.main .destination .env .thispink{
	box-shadow: inset 8px 8px 0px 3px #33ccff;
}
.main .destination .env .thislime{
	box-shadow: inset 8px 8px 0px 3px #33ccff;
}
.main .destination .env a{
	display: block;

	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;

	color: #fff;

	transition: 0.5s;
}

.main .destination a .point{
	padding: 25px;

	margin-top: 15px;
	margin-bottom: 10px;

	background-color: #fff;
	
	border-radius: 50%;
	
	transition: 0.5s;
}

.main .destination .env .point:hover{
	transform: scale(0.9);
	transition: 0.5s;
}

.main .destination .point img{
	display: block;

	width: 65px;
	height: 65px;
}

.main .trips{
	width: 100%;
	color: #fff;
}

.main .trips .trip{
	width: 100%;
	height: 400px;

	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

.main .trips .trip1 .shadow:hover .desctour{
	background-color: #ff33cc;
}
.main .trips .trip2 .shadow:hover .desctour{
	background-color: #3366ff;
}


.main .trips h3{
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	padding-top: 10px;
	margin-top: 30px;
	margin-bottom: 30px;

	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
}

.main  .trips .date{
	display: inline-block;

	padding: 7px 20px;
	margin-bottom: 20px;

	font-size: 14px;

	border-radius: 20px;

	color: #555;
	background-color: #fff;
}

.main .trips p{
	width: 90%;
}

.main .trips .hot,
.main .trips .price{
	font-weight: bold;
}

.main .trips .price{
	font-size: 22px;
	line-height: 25px;
}

.main .trips .hot{
	font-size: 28px;
	text-decoration: underline;
}

.main .trips .button a{
	display: inline-block;
	box-sizing: border-box;

	padding: 10px 20px;
	margin-top: 20px;
	margin-bottom: 20px;

	font-size: 16px;
	line-height: 18px;
	font-weight: bold;

	border-radius: 20px;

	text-transform: uppercase;
	text-decoration: none;

	color: #fff;

	transition: 0.5s;
}

.main .trips .trip1 .button a{
	background-color: #33ff66;

}

.main .trips .trip2 .button a{
	background-color: #ff6633;
}
.main .trips .button a:hover{
	background-color: #fff;
	transition: 0.5s;
}
.main .trips .trip1 .button a:hover{
	border: 1px solid #33ff66;
	color: #33ff66;	
}
.main .trips .trip2 .button a:hover{
	background-color: #fff;
	border: 1px solid #ff6633;
	color: #ff6633;
}

.main .trips .tt1{
	background-image: url('../img/tt1.jpg');
	background-position: center center; 
}

.main .trips .tt2{
	background-image: url('../img/tt2.jpg');
	background-position: bottom center;
}
.main .trips .tt3{
	background-image: url('../img/tt3.jpg');
	background-position: center center;
}
.main .trips .tt4{
	background-image: url('../img/tt4.jpg');
	background-position: top center;
}

.main .trips .tt5{
	background-image: url('../img/tt5.jpg');
	background-position: center center;
}

.main .trips .tt6{
	background-image: url('../img/tt6.jpg');
	background-position: bottom center;
}
.main .trips .tt7{
	background-image: url('../img/tt7.jpg');
	background-position: center center;
}

.main .trips .tt8{
	background-image: url('../img/tt8.jpg');
	background-position: center center;
}
.main .trips .tt9{
	background-image: url('../img/tt9.jpg');
	background-position: top center;
}

.main .trips .tt10{
	background-image: url('../img/tt10.jpg');
	background-position: center center;
}

.main .trips .tt11{
	background-image: url('../img/tt11.jpg');
	background-position: center center;
}

.main .trips .tt12{
	background-image: url('../img/tt12.jpg');
	background-position: center center;
}



/*Категории*/
.height {
	height: 0%;
}

.main > .top1{
	position: fixed;
	top: 40px;
	z-index: 2;
}

.main > .top2{
	padding-top: 165px;
}

.main .categories .c .this{
	background-color: #fff;

	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 92% 53%;
}

.main .categories .c1 .this{
	color: #3333ff;
	background-image: url('../img/arrowblue.png');
}

.main .categories .c2 .this{
	color: #ff3333;
	background-image: url('../img/arroworange.png');
}

.main .categories .c3 .this{
	color: #ff3399;
	background-image: url('../img/arrowpink.png');
}

.main .categories .c4 .this{
	color:#33ff33;
	background-image: url('../img/arrowgreen.png');
}

/*Страны!*/
.visible{
	overflow: visible;
}

.main > .topc{
	padding-top: 39px;
}

.main .sticky{
	position: sticky;
	top: 40px;
}

/* О нас */

.header .containerabout{
	background-image: url('../img/promo.jpg');
	background-size: cover;
}

.header .promoabout{
	text-align: center;
}
.header .promoabout h1{
	font-size: 35px;
	line-height: 40px;

	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 84%;
}

.header .promoabout p,
.header .promoabout img{
	display: inline-block;
}

.header .promoabout p{
	width: 50%;
	margin-right: 5%;
	padding-bottom: 60px;

	font-size: 20px;
	line-height: 30px;
}

.header .promoabout img{
	width: 300px;
	padding-right: 30px;
}

.main > .aboutus {
	padding-top: 20px;
	padding-bottom:50px;
	background-color: #fff;
}

/*Галерея*/

.galleriamain{
	background-color: #eee;
}
.main .galleria{
	height: 100%;
	width: 90%;
	margin: 55px auto;
}

.main .galleria .album {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	background-color: #fff;

	border-top-left-radius: 40px;
	border-top-right-radius: 40px;

}

.main .galleria .album h1{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	margin-bottom: 0;

	border-radius: 20px;
}

.main .galleria .left,
.main .galleria .right{
	display: inline-block;

	vertical-align: top;
}
.main .galleria .video{
	position: relative;
	height:0%;
	padding-bottom: 41.6%;
}


.main .galleria .left{
	width: 66.6%;
}

.main .galleria .right{
	width: 33.4%;
}

.main .galleria .left img{
	margin-right: 10px;
}

.main .galleria img{
	width: 100%;
	margin-bottom: -5px;

	transition: 1s;

}
.main .galleria .left img:hover{
	transform: scale(1.1);
	transition: 1s;
}

.main .galleria .right img:hover{
	transform: scale(1.2);
	transition: 1s;
}

.main .galleria .album .left iframe{
	position: absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;
}


/*Контакты */

.main .contacts{
	padding-bottom: 35px;
}
.main .background{
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main .square{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.main .square .lower{
	width: 100%;
	height: 300px;
	box-sizing: border-box;

	font-size: 22px;
	color: #fff;
}
.main .sq1 .lower{
	background-color: #eee;
	box-sizing: border-box;
}
.main .sq2 .lower{
	background-color: #ddd;
}

.main .sq3 .lower {
	background-color: #ddd;
}


.main  .square .img,
.main  .square .text{
	display: inline-block;
	vertical-align: middle;
}

.main  .square .img{
	width: 60px;
	height: 60px;

	background-color: #33ccff;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center center;
}

.main .sq3 .allcon .c1{
	background-color: #3366ff;
}

.main .sq3 .allcon .c3{
	background-color: #ff6633;
}

.main .sq3 .allcon .c4{
	background-color: #ff33cc;
}

.main .sq3 .allcon .c5{
	background-color: #33ff66;
}

.main  .square .text{
	line-height: 60px;
	box-sizing: border-box;
	width: 76%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -6px;
}

.main  .sq1 .text{
	background-color: #ccc;
}

.main  .sq2 .text{
	background-color: #ccc;
	line-height: 30px;
	height: 60px;
	padding-top: 15px;
	vertical-align: middle;
}

.main .square .mail .img{
	background-image: url('../img/mailwhite.png');
}

.main .square .phone .img{
	background-image: url('../img/phonewhite.png');
}

.main .square .address .img{
	background-image: url('../img/locationwhite.png');
}

.main .sq3 .allcon{
	display: inline-block;
	margin-top: 120px;
	width: calc(76% + 40px);
	margin-left: 0px;
}

.main .sq3 .allcon .img{
	margin-right: calc((100% - 300px)/4);
	margin-left: -6px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.5s;
}

.main .sq3 .allcon .img:hover{
	transform: scale(0.9);
	transition: 0.5s;

}

.main .sq3 .allcon .c1{
	margin-left: 0px;
}
.main .sq3 .allcon .c5{
	margin-right: 0px;
}

.main .square .lower .mail,
.main .square .lower .phone{	
	vertical-align: top;

}

.main .square .lower .mail{
	margin-bottom: 15px;
}
.main .square .lower .mph,
.main .square .lower .address,
.main .square .lower .allcon{
	margin-left: 5%;
}


.main .square .lower .mph{
	padding-top: 80px;
}

.main .square .lower .address{
	padding-top: 110px;
	vertical-align: bottom;
}


.main .square .lower .c4{
	background-image: url('../img/instagramwhite.png');
}

.main .square .lower .c2{
	background-image: url('../img/twitterwhite.png');
}
.main .square .lower .c3{
	background-image: url('../img/vkwhite.png');
}
.main .square .lower .c1{
	background-image: url('../img/facebookwhite.png');
}
.main .square .lower .c5{
	background-image: url('../img/telegramwhite.png');
}


.main .square .lower a{
	text-decoration: none;
	color: #fff;
}


/*Карта*/

#map{
	display: inline-block;
	margin-left: -5px;

	width: 50%;
	height: 300px;
}

/* Форма */
.bookheight{
	background-image: url('../img/tt11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bookheight .container{
	padding-top: 10%;
	height: 100%;
}
.main form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;

  	padding: 60px 100px;  
    margin-bottom: 10%;

    background-color: #efefef;

    box-sizing: border-box; 
}

.main form h1{
	font-size: 30px;
	line-height: 32px;
	text-align: center;

	margin-bottom: 60px;
}
.main input, textarea{
	border: none;
	border-radius: 20px;
    padding: 12px 20px;
    border: 1px solid #ff33cc;
}
.main input[type=text]{
		width: 90%;
    color: #555;
    background-color: #fff;

    cursor: pointer;
}

.main input[type=submit]{
	margin-top: 5%;

    width: 100%;
	
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    background-color: #ff33cc;
    color: #fff;

    transition: 0.5s;
}

.main input[type=submit]:hover {
    background-color: #fff;
    color: #ff3de2;
    border: 1px solid #ff33cc;
    transition: 0.5s;
}

.main textarea{
	font-family: verdana;
	text-transform: lowercase;
	font-size: 12px;
    line-height: 16px;
    width: 90%;
    height: 70px;
}




@font-face {
	font-family: "Roboto-Regular"; 
	src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
	src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 


@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
	src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
} 

